.doctor{
    height: 350px;
    border-radius: 30px;
    border:3px solid #9747FF;
    width:270px;
    
    color: black;
}
.imageofdoctor{
    height: 165px;
    width:101%;
}
.NameofDoctor{
    font-weight: bold;
    font-size: larger;
    text-align: center;
}
.insideof{
    margin: 10px;
}

.detailsofdoctor{
    /* margin-left: 10px; */
    font-weight: 600;
}

.doctor_container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap:4vw;
}