.gallerypage{
    padding: 20px;
    color:#7381FF;
}

.gallerytxtheading{
    font-size: 80px;
    margin:2vw;
  }

.testimonial_container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap:5vw;
    
}

.testimonial{
    background-color:#7381FF ;
    color: white;
    width:18vw;
    padding: 1vw;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}
.video1{
    /* width:10vw; */
    height: 500px;
}

.photoingallery{
    width:20vw;
    border-radius: 30px;
    border:3px solid #9747FF;
}