.heading {
    font-size: 34px;
    font-weight: bold;
    margin-left: 90px;
    /* margin-bottom: 10px; */
}
.close {
    /* position: absolute; */
    /* top: 10%;
    right: 0; */
    font-size: 28px;
    cursor: pointer;
    background: transparent;
    border: 0px;
}
.services {
    font-size: 26px;
    /* margin-bottom: 20px; */
}
.bookbutton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top:45px;
}


.grid_contain{
    display: grid;
    grid-template-columns:  6fr 1fr;
    margin-bottom: 70px;

}


@media screen and (max-width:1500px) {
    .grid_contain{
        margin-bottom: 40px;
    }
    .bookbutton{
        margin-top: 5px;
    }
    .services{
        font-size: 20px;
    }
}

@media screen and (max-width:1040px) {
    .heading{
        font-size: 30px;
    }
}

@media screen and (max-width:950px) {
    .grid_contain{
        margin-bottom: 25px;
    }
    .heading{
        font-size: 25px;
    }
}

@media screen and (max-width:830px) {
    .services{
        font-size: 18px;
    }
}


@media screen and (max-width:770px) {
    .heading{
        font-size: 25px;
        margin-left: 10px;
    }
}

@media screen and (max-width:640px) {
    .grid_contain{
        margin-bottom: 10px;
    }
    .bookbutton{
        margin-top: 1px;
    }
    .services{
        font-size: 15px;
    }
}

@media screen and (max-width:470px) {
.close{
    font-size: 15px;
}

}

@media screen and (max-width:370px) {
    .heading{
        font-size: 15px;
    }
    .bookbutton{
        font-size: 15px;
        margin-top: 0px;
    }
    .services{
        font-size: 13px;
    }
    
    }