body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #80D9FF; */
  
  background: linear-gradient(#80D9FF, white,white,white,white,#80D9FF) ;
  background-size: cover;
  /* width:100vw; */
  height: 100vh;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.whatsapp-logo {
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  width: 60px;
  height: 60px;
  background-image: url('./assets/whatsapp.png'); /* Replace 'whatsapp-logo.png' with your image path */
  background-size: cover;
  cursor: pointer;
  animation: jump 1s infinite alternate;
  z-index: 2;
}

.whatsapp-logo1 {
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  width: 60px;
  height: 60px;
  background-image: url('./assets/call.png'); /* Replace 'whatsapp-logo.png' with your image path */
  background-size: cover;
  cursor: pointer;
  animation: jump 1s infinite alternate;
  z-index: 2;
}

@keyframes jump {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-10px);
  }
}
